.header {
  padding:20px 0;
  margin: 0; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .logo {
    img {
      max-width: 220px;
    }
  }

  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;

      li {
        list-style-type: none;
        padding: 0px 15px;

        a {
          font-weight: $font-weight-normal;
          font-size: $base-font-size-large;
          color: $blue;
        }
      }
    }
  }


}